.uk-navbar-container {
    /* height: 120px; */
}

.logo-image {
    margin-left: 20px;
    height: 80px;
}

.gridSize {
    width: 100%; 
    height: 400px;
}

.gold_font {
    color: #bea668;
}

code {
    display: inline-block;
    float: left;
}

/* #__layout > div {
    height: 100vh;
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
} */